<!--first card-->
<div class="product">
  <div class="number">01</div>
  <h3 class="title">Hover animation</h3>
  <p class="description">readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
    it has a more-or-less
    normal distribution of letters, as opposed to using 'Content here, content here', making it look like rea</p>
</div>
<hr>
<!--second card Ribbon-->
<div class="product2">
  <div class="number2">02</div>
  <h3 class="title2">Ribbon</h3>
  <p class="description2">readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
    it has a more-or-less
    normal distribution of letters, as opposed to using 'Content here, content here', making it look like rea</p>
</div>
<hr>
<!--third tooltip-->
<button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="tooltip">
  {{text}}
</button>
